%table.table
  %thead.thead-light
    %tr
      %th{:scope => "col"} Login
      %th{:scope => "col"} Games W
      %th{:scope => "col"} Games L
      %th{:scope => "col"} Games W/L
  %tbody
    - @collection.each do |user|
      %tr
        %th= user['login']
        %th= user['games_w']
        %th= user['games_l']
        %th= user['games_w_l']
