%p
  %button.btn.btn-primary{"aria-controls" => "multiCollapseExample2", "aria-expanded" => "false", "data-target" => ".multi-collapse", "data-toggle" => "collapse", :type => "button"} Toggle both elements
.row
  .col
    #multiCollapseExample2.collapse.multi-collapse
      .card.card-body
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.

