.nested-fields
  .row
    .col-sm.card.m-3.card
      .card-body
        = f.input :first_team_points
    .col-sm.card.m-3.card
      .card-body
        = f.input :second_team_points
  = link_to :remove, '', class: 'remove_fields'
